.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1,1fr) 70px;
  width: 90%;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items:center;
  justify-items: center;
}
.header{
  height: 600px;
}
.header__animation{
  grid-column: 1/-1;
  width: 100%;
}
body {
  font-family: "Archivo Black", sans-serif;
  background: #f4d03f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.words {
  color: #f4d03f;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.header__redes-icon{
  color: black;
  font-size: 100px;
}
.nav{
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  border: 0;
} 
.header__nav{
  width: 100%;
  height: 60px;
  grid-column: 1/-1;
  background-color: black;
  text-align: center;
}
.header__nav-items{
  display: inline-block;
  margin: 0, 10px;
  padding: 20px;
  color: white;
}

.header__nav a {
  text-decoration: none;
  color: white;
}